/* body */
* {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

h3 {
  margin: 0 !important;
}

.mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    width: 100% !important;
    margin: 0;
    padding: 0 !important;
}

.swiper {
    width: 80%;
    height: 70%;
    --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
    --swiper-navigation-color: rgb(212, 212, 212);;/* 单独设置按钮颜色 */
    --swiper-navigation-size: 50px;/* 设置按钮大小 */
}

.swiper-slide {
    height: 100%;
    width: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* navbar  */
.navbar {
  width: 100% !important;
  min-height: 80px !important;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon {
    width: 160px;
    height: auto;
    margin-right: 15px;
    position: absolute;
    left: 60px;
    cursor: pointer;
}

.menu {
    height: auto;
    margin-right: 15px;
    position: absolute;
    color: rgb(212, 212, 212);
    font-family: 微軟正黑體;
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}

.menu:hover {
  color: white;
}

.trending {
  left: 280px;
}

.upcoming {
  left: 444px;
}


/* search-box */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #664AFF;
}

.search-box{
  position: fixed;
  right: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
  width: 350px;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
  opacity: 1;
}
.search-box input::placeholder{
  color: #a6a6a6;
}
.search-box .search-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #664AFF;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #664AFF;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data{
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}
.search-box .search-data.active{
  display: none;
}

/* modal */
.modal-movie-detail {
  height: 100%; 
  display: none; 
  justify-content: center; 
  align-items: center;
}

.modal-content {
  height: 80%; 
  width: 70%;
}

.modal-header {
  display: flex; 
  justify-content: space-between;
}

.modal-body {
  height: 100%; 
  width: 100%; 
  display: flex; 
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  /* background-size: cover; */
  padding: 20px 20px !important;
}

.modal-mask {
  background: rgba(255, 255, 255, 0.7); 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.poster-container {
  padding: 30px 20px;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px !important;
}

.movie-title {
  font-weight: bolder;
  font-size: 32px;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin: 0 0 15px 0;
}

.release-year {
  color: #4D6A6D; 
  font-weight: 500;
}

.summary-title {
  font-weight: bolder;
  font-size: 22px;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding: 5px 0 !important;
}

.summary-content {
  font-size: 16px;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}