<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form id="uploadExcelToJsonForm" >
    <input type="file" id="uploadFile" name="uploadFile" />
</form>
</body>
</html>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://192.168.1.197/SSMVVM/app/base/resources/scripts/json2.min.js"></script>
<![endif]-->
<script data-main="http://192.168.1.197/SSMVVM/app/base/main/proxyPage" src="http://192.168.1.197/SSMVVM/app/require.js"></script>